.blank{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 30px;
padding: 20px;
min-height: 95vh;
background-color: black;
}
.blank h1,
.blank h3 {
      color: #aaaaaa;

}
.blank-button{
width: 200px;
border-radius: 20px;
padding: 10px;
}
.blank-button:hover{
    box-shadow: 0 0 20px black;
}
.blank-button-text{
text-decoration: none;
color: rgb(121, 121, 121);
}
.act-tit{
    font-size: 30px;
    color: rgb(121, 121, 121);
}
.act-text{
    font-size: 26px;
    color: rgb(121, 121, 121);
}

.logout-btn{
    width: 100px;
    height: 50px;
    border-radius: 20px;
}
